@media screen and (min-width: 1780px) {
    .post {
        &__item {
            height: 25rem;
        }
    }
}

@media screen and (max-width: 969px) {
    .post {
        &__item {
            height: 15rem;
        }
        &__title--small {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 639px) {
    .post {
        flex-direction: column;
        &__left,
        &__right {
            width: 100%;
        }
        &__left {
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 479px) {
    .post {
        &__item {
            height: 10rem;
        }
    }
}