$primary: #f46b45;
$secondary: #eea849;
$gradient: linear-gradient(to right, #f46b45, #eea849);

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #666;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
}

.post {
    margin: 3rem;
    padding: 3rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    &__left,
    &__right {
        width: calc(50% - 1rem);
    }

    // post left ------

    &__media {
        position: relative;
    }
    &__image {
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
        &--small {
            width: 35%;
            height: 100%;
        }
    }
    &__category {
        padding: 1rem 1.5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.4rem;
        color: white;
        background: $gradient;
        border-radius: 2rem;
        z-index: 2;
    }
    &__icon {
        position: absolute;
        bottom: 0;
        right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        color: white;
        width: 5rem;
        height: 5rem;
        background: $gradient;
        border-radius: 50%;
        transform: translateY(50%);
        z-index: 2;
    }
    &-author {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        color: #999;
        font-size: 1.4rem;
        &__avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }
        &__name {
            margin: 0 1rem;
            padding-right: 1rem;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                width: 0.5rem;
                height: 0.5rem;
                background: $gradient;
                border-radius: 50%;
            }
        }
    }
    &__date {
        color: #999;
        font-size: 1.4rem;
    }
    &__content {
        margin-top: 2rem;
    }
    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        &--small {
            font-size: 1.8rem;
        }
    }
    &__desc {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    // post right ------ 
    &__item {
        width: 100%;
        height: 20rem;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EEE;
    }
    &-item__content {
        width: calc(65% - 1rem);
    }
}

